# Storybook files
.storybook/
storybook-static/
**/*.stories.tsx
**/*.stories.mdx

# Development files
tests/
__tests__/
test/
**/*.test.js
**/*.spec.js
**/*.test.ts
**/*.spec.ts
**/*.test.tsx
**/*.spec.tsx

# Configuration files
.eslintrc
.prettierrc
.prettierignore
.github/
.vscode/
.idea/
eslint.config.js

# Build tools
webpack.config.js
rollup.config.js
tsconfig.json

# Documentation
docs/
examples/
*.md
!README.md

# Other
.DS_Store
node_modules/
coverage/
.env

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
*storybook.log

# Build
dist/
dist-ssr/
*.local

# Project specific
addon/
.adnbn/
