
:root {

    --button-height-sm: 20px;
    --button-height: 25px;
    --button-height-md: 30px;
    --button-height-lg: 40px;

    --tooltip-border-radius: 10px;
    --tooltip-padding: 5px 10px;

    /*Colors*/
    --primary-color: #29A383;
    --secondary-color: #20573E;
    --accent-color: #F76B15;

    --bg-primary-color: #F5F6F7;

    --text-primary-color: #111111;

    --tooltip-bg-color: #A39073;
}

[data-theme="dark"] {
    --bg-primary-color: #191919;

    --text-primary-color: #B4B4B4;

    --tooltip-bg-color: #D4B3A5;
}
